@import 'roboto';
@import 'snippets';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-top {
    @include flex-center;
    .stop {
        button {
            background-color: grey;
        }
    }
}

.btn-primary {
    padding: 10px;
    padding-bottom: 15px;
    button {
        padding: 15px;
        border-radius: 15px;
        background-color: black;
        border: none;
        cursor: pointer;
        color: white;
        &:hover {
            background-color: blue;
        }
        &:active {
            transform: translateY(2px)
        }
    }
}

.indicators {
    @include flex-center;
}

.time, .moves {
    @include flex-center;
    padding-left: 15px;
}

.text-reg {
    padding-right: 10px;
    font-size: 1.1rem;
}
.minutes, .seconds {
    padding-right: 0;
}

.frame-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 500px;
    margin: 0 auto;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    .frame-tile {
        @include flex-center;
        border: 1px solid black;
        font-size: 2rem;
        color: grey;
        cursor: pointer;
    }
}

.frame-size {
    @include flex-center;
    margin-bottom: 20px;
}

.picksize {
    @include flex-center;
    .frame-size-numbers_link {
        color: gray;
        cursor: pointer;
        &:hover {
            color: blue;
            text-decoration: underline;
        }
    }
}

@media (max-width: 640px) {
    .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
@media (max-width: 630px) {
    .container {
        max-width: 400px;   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
    }

    .frame-grid {
        width: 400px;
        height: 400px;
    }

    .btn-primary {
        padding: 5px;
        button {
            font-size: 0.8rem;
        }
    }
}
@media (max-width: 420px) {
    .container {
        max-width: 300px;
    }
    .frame-grid {
        width: 300px;
        height: 300px;
    }

    .btn-primary {
        padding: 5px;
        padding-bottom: 10px;
        button {
            padding: 8px;
            font-size: 0.8rem;
        }
    }

    .text-reg {
        font-size: 0.9rem;
    }
}