@import 'roboto';
@import 'snippets';
@import 'resultsModal';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbf3db;
}

canvas {
    border: 10px solid #523436;
    border-radius: 10px;
    cursor: pointer;
    width: 400px;
    height: 400px;
}

.overlay {
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(10px);
    @include flex-center;
    .overlay-text {
        color: white;
        font-size: 2rem;
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.btn-top {
    @include flex-center;
    .stop {
        button {
            background-color: #523436;
        }
    }
}

.btn-primary {
    padding: 10px;
    padding-bottom: 15px;
    button {
        padding: 15px;
        border-radius: 15px;
        background-color: #3c3c48;
        border: none;
        cursor: pointer;
        color: #fbf3db;
        &:hover {
            background-color: #c4a094;
        }
        &:active {
            transform: translateY(2px)
        }
    }
}

.indicators {
    @include flex-center;
}

.time, .moves {
    @include flex-center;
    padding-left: 15px;
    margin-bottom: 20px;
}

.text-reg {
    padding-right: 10px;
    font-size: 1.1rem;
    color: #3c3c48;
}

.nores-message {
    font-size: 1.5rem;
    padding-top: 10rem;
    color: grey;
}

.minutes, .seconds {
    padding-right: 0;
}

.frame-size {
    @include flex-center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.picksize, .picksize__results {
    @include flex-center;
    .frame-size-numbers_link {
        color: gray;
        cursor: pointer;
        &:hover {
            color: #3c3c48;
            text-decoration: underline;
        }
    }
}

@media (max-width: 630px) {
    .results-container {
        width: 500px;
        height: 650px;
    }
}
@media (max-width: 520px) {
    .results-container {
        width: 420px;
        height: 650px;
    }

    .nores-message {
        font-size: 1.8rem;
    }
}

@media (max-width: 420px) {
    .results-container {
        width: 350px;
        height: 650px;
    }
}